@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  background: linear-gradient(to right, #003316, #00aa00);
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#initial-screen {
  width: 1000px;
  height: 600px;
  background-color: #222;
}

.hidden {
  display: none;
}

#initial-screen h1 {
  font-size: 48px;
  color: #00ff00;
  margin-bottom: 30px;
}

#initial-screen #play-button {
  font-size: 28px;
  font-weight: 600;
  padding: 5px 15px;
  background-color: #00cc00;
  border-width: 1px;
  margin: 20px 0;
}

#initial-screen #play-button:hover {
  cursor: pointer;
  background-color: #00ff00;
}

#initial-screen #exit-button {
  font-size: 28px;
  font-weight: 600;
  padding: 5px 68px;
  color: #ffffff;
  background-color: #a10000;
  border-width: 1px;
}

#initial-screen #exit-button:hover {
  cursor: pointer;
  background-color: #ff0000;
}

.wrapper {
  display: none;
}

.boxScore {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
}

.boxScore .score-content {
  font-size: 18px;
  color: #f1f1f1;
}

.buttons-content #try-again {
  font-size: 16px;
  font-weight: 600;
  padding: 0 15px;
  border-width: 1px;
  background-color: #00cc00;
  transition: all 0.2s ease;
}

#try-again:hover {
  cursor: pointer;
  background-color: #00ff00;
}

.buttons-content #return-to-menu {
  font-size: 16px;
  font-weight: 600;
  padding: 0 15px;
  border-width: 1px;
  color: #f1f1f1;
  background-color: #a10000;
}

#return-to-menu:hover {
  cursor: pointer;
  background-color: #ff0000;
  transition: all 0.2s ease;
}

.control-arrows {
  display: none;
  width: 100%;
}

.control-arrows > i {
  font-size: 30px;
  padding: 10px 32px;
  border-radius: 3px;
  border: none;
  color: #ddd;
  background-color: #222;
}

.control-arrows:hover {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  #initial-screen,
  #wrapper {
    width: 750px;
  }

  .control-arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .control-arrows > i {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media screen and (max-width: 768px) {
  #initial-screen,
  #wrapper {
    width: 600px;
  }

  .control-arrows > i {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media screen and (max-width: 600px) {
  #initial-screen,
  #wrapper {
    width: 400px;
  }

  body {
    justify-content: center;
  }

  .control-arrows > i {
    padding-left: 32px;
    padding-right: 32px;
  }
}
